### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

# Create the series
series = pd.Series([4, 8, 15, 16, 23, 42])

# Print the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd

# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Apply pandas.Series function to the list
series = pd.Series(my_list)

# Print the series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data:
#### Name: Alice, Bob, Claire
#### Age: 25, 30, 27
#### Gender: Female, Male, Female
Then, print the DataFrame.

In [4]:
import pandas as pd

# Create the DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)
print(type(df))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
<class 'pandas.core.frame.DataFrame'>

### Q4. What is 'DataFrame' in pandas and how is it different from pandas.series? Explain with an example.

A DataFrame is a 2-dimensional labeled data structure in Pandas, similar to a table in a relational database or a spreadsheet. It can hold data of different types (numeric, string, boolean, etc.) in columns.
A Series, on the other hand, is a 1-dimensional labeled array that can hold data of any type.
The main differences are:

1. Dimensionality: DataFrame is 2D, Series is 1D.
2. Column labels: DataFrame has column labels, Series doesn't
3. Data types: DataFrame can have different types per column, Series has one type for all elements.

In [7]:
## Example(Q-4)
# Series
s = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
print(s)

# DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': ['a', 'b', 'c'],
    'C': [True, False, True]
})
print(df)

a    1
b    2
c    3
d    4
dtype: int64
   A  B      C
0  1  a   True
1  2  b  False
2  3  c   True

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Common DataFrame functions include:

head() / tail(): View first/last n rows
info(): Get concise summary of DataFrame
describe(): Generate descriptive statistics
drop(): Remove specified rows or columns(axis=1 for column drop)
groupby(): Group data for aggregation
sort_values(): Sort by values
merge() / join(): Combine DataFrames
fillna(): Fill missing values

In [9]:
## Example using groupby():
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Category': ['A', 'B', 'A', 'B', 'A'],
    'Value': [10, 20, 30, 40, 50]
})

# Group by 'Category' and calculate mean 'Value'
grouped = df.groupby('Category')['Value'].mean()
print(grouped)

Category
A    30.0
B    30.0
Name: Value, dtype: float64

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Answer:
Both Series and DataFrame are mutable in nature. This means you can change their content after creation. Panel was also mutable, but it's worth noting that Panel has been deprecated since pandas version 0.25.0 and removed in version 1.0.0.

In [10]:
import pandas as pd

# Series
s = pd.Series([1, 2, 3, 4])
print("Original Series:")
print(s)

s[1] = 10  # Modifying an element
print("\nModified Series:")
print(s)

# DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print("\nOriginal DataFrame:")
print(df)

df.loc[1, 'A'] = 20  # Modifying an element
print("\nModified DataFrame:")
print(df)

Original Series:
0    1
1    2
2    3
3    4
dtype: int64

Modified Series:
0     1
1    10
2     3
3     4
dtype: int64

Original DataFrame:
   A  B
0  1  4
1  2  5
2  3  6

Modified DataFrame:
    A  B
0   1  4
1  20  5
2   3  6

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [11]:
import pandas as pd

# Create individual Series
name_series = pd.Series(['Alice', 'Bob', 'Charlie'], name='Name')
age_series = pd.Series([25, 30, 35], name='Age')
city_series = pd.Series(['New York', 'San Francisco', 'Los Angeles'], name='City')

# Create DataFrame from Series
df = pd.DataFrame({
    'Name': name_series,
    'Age': age_series,
    'City': city_series
})

print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles